@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.hourly-forecast {
  max-width: 720px;
  width: 100%;
  background-color: #262540;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 24px;
  gap: 16px;
}

.hourly-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.hourly-header .drop-down-btn {
  background: #3C3B5E;
  width: 120px;
  height: 37px;
  padding: 16px;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 10px;
}

@media (max-width: 720px) {
  .hourly-forecast {
    min-height: auto;
    padding: 20px;
  }

  .hourly-header {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .hourly-header .drop-down-btn {
    width: 100%;
    max-width: 120px;
    margin-left: auto;
  }
}
